<ion-header>
    <ion-navbar>
        <!--
<button ion-button menuToggle>
      <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png"></ion-icon>
    </button>
-->
        <ion-title>Cart
            <span float-right>
                <ion-icon class="icon" (click)="dismiss()"><img src="assets/imgs/ic_cross.png" width="100%;"></ion-icon>           
            </span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="your-cart bg-thime">
        <ion-card>
            <ion-card-content>
                <ion-row>
                    <ion-col col-3>
                        <div class="img-box">
                            <img src="assets/imgs/suit_PNG8132.png">
                        </div>
                    </ion-col>
                    <ion-col col-9>
                        <h4>Unique For Men Black Formal Slim Fit Shirt
                            <span class="icon text-light"><img src="assets/imgs/delete.png"></span>
                        </h4>
                        <div class="rate">
                            <div style="display: flex;" class="price-box">
                                <div class="price text-light" padding-right>
                                    <img src="assets/imgs/rupee-light.png" class="rupee-icon">300
                                </div>
                                <div class="price text-sky">
                                    <img src="assets/imgs/rupee-sky.png" class="rupee-icon">500
                                </div>
                            </div>
                            <p text-right>Quantity
                                <span class="text-light">1
                                 <ion-icon name="ios-arrow-down-outline"></ion-icon>
                                </span>
                            </p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <ion-row>
                    <ion-col col-3>
                        <div class="img-box">
                            <img src="assets/imgs/bag.jpg">
                        </div>
                    </ion-col>
                    <ion-col col-9>
                        <h4>Unique For Men Black Formal Slim Fit Shirt
                            <span class="icon text-light"><img src="assets/imgs/delete.png"></span>
                        </h4>
                        <div class="rate">
                            <div style="display: flex;" class="price-box">
                                <div class="price text-light" padding-right>
                                    <img src="assets/imgs/rupee-light.png" class="rupee-icon">1000
                                </div>
                                <div class="price text-sky">
                                    <img src="assets/imgs/rupee-sky.png" class="rupee-icon">800
                                </div>
                            </div>
                            <p text-right>Quantity
                                <span class="text-light">1
                                    <ion-icon name="ios-arrow-down-outline"></ion-icon>
                                </span>
                            </p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


        <ion-row class="checkout">
            <ion-col col-6>
                <h6 class="text-white">
                    Total <span>
                    <img src="assets/imgs/rupee-white.png" class="rupee-icon">
                    1260.00</span>
                </h6>
            </ion-col>
            <ion-col col-6>
                <button ion-button full class="bg-green btn-round btn-text btn-shadow">Proceed to Checkout</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
