page-home {
    .list {
        margin: 0 !important;
    }
    .searchbar {
        padding: 5px 8px;
        border-bottom: none !important;
        background: none !important;
        .searchbar-input {
            border-radius: 5px !important;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 2.8rem;
            height: 3.7rem !important;
            padding: 6px 43px;
            box-shadow: none !important;
        }
        .searchbar-input-container {
            border: none !important;
        }
        .searchbar-search-icon {
            left: 10px;
            top: 9px;
        }
    }
    .tab-row {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header {
        .img-box {
            width: 100%;
            max-width: 50px;
            margin: 0 auto;
            small {
                font-size: .9rem !important;
            }
        }
    }
    ion-slides {
        height: auto !important;
    }
    p {
        font-size: 1.2rem;
        margin-left: 16px;
        margin-right: 10px;
        small {
            width: 68px;
            text-align: center;
            line-height: 25px;
            margin-top: -4px;
            font-weight: 100 !important;
            font-size: 1.1rem;
            letter-spacing: 1.1px;
        }
    }
    .row {
        padding: 0 5px !important;
    }
    .card {
        width: 100% !important;
        margin: 0 !important;
        border-radius: 5px !important;
        .card-header {
            position: relative;
            padding: 7px !important;
            .img-box {
                width: 85px;
                margin: 0 auto;
            }
            .icon {
                position: absolute;
                top: 6px;
                right: 8px;
                font-size: 1.5rem;
            }
        }
        .card-content {
            padding: 0 10px !important;
            padding-bottom: 12px !important;
            h5 {
                font-size: 1.1rem;
                font-weight: 500;
                color: #000;
            }
            .rateing {
                //                display: flex;
                align-items: center;
                margin-top: 7px;
                padding-bottom: 14px;
                .price {
                    //width: 50px;
                    padding-left: 10px;
                    position: relative;
                    display: block;
                    font-weight: 600;
                    font-size: 1rem;
                    margin-top: 1px;
                    &.text-light {
                        font-weight: 400;
                        text-decoration: line-through;
                    }
                    .rupee-icon {
                        width: 5px !important;
                        position: absolute;
                        top: 3px;
                        left: 2px
                    }
                }
            }
            .card-btn {
                p {
                    line-height: 17px;
                    font-size: .8rem;
                    letter-spacing: 1px;
                    .small-text {
                        width: 35px;
                        font-size: .6rem;
                        text-align: center;
                        display: inline-block;
                        border-radius: 3px;
                        padding: 0px 0 0 1px;
                        height: 16px;
                    }
                    .bold {
                        font-weight: 600 !important;
                    }
                }
            }
        }
    }
    .mr-5 {
        margin-right: 5px;
    }
    ion-slide {
        margin-bottom: .5rem;
    }
    .banner-text {
        position: absolute;
        top: 0;
        text-align: left;
        color: #fff;
        padding: 5px;
        small {
            font-size: 1rem;
            font-weight: 100;
            margin-top: -5px;
            display: block;
            margin-left: 16px;
        }
        h2 {
            font-size: 2rem;
            margin-left: 16px;
            margin-top: 24px;
        }
    }
    .swiper-pagination-bullet {
        width: 5px !important;
        height: 5px !important;
        background: transparent !important;
        opacity: 1 !important;
        border: 1px solid #fff !important;
    }
    .swiper-pagination-bullet-active {
        background: #ffffff !important;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 3px;
    }
    img {
        display: block;
    }
    .back-button {
        display: none !important;
    }
}
