<ion-header class="bg-thime">
    <ion-navbar>
        <button ion-button menuToggle style="display: block !important;">
            <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png"></ion-icon>
        </button>
        <ion-title>MOBIMALL
            <span float-right>
                  <ion-icon class="icon" (click)="wishlistPage()"><img src="assets/imgs/ic_my_wishlist.png" width="100%;"></ion-icon>
              <ion-icon class="icon" (click)="cartPage()"><img src="assets/imgs/ic_my_cart.png" width="100%;"></ion-icon>
            </span>
        </ion-title>
    </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search Brand or Product..." (click)="searchPage()"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of items">
        </ion-item>
    </ion-list>
    <div class="tab-row">
        <ion-row>
            <ion-col (click)="categoryPage()">
                <div class="img-box" text-center>
                    <img src="assets/imgs/electronics.png">
                    <small class="text-white">Electronics</small>
                </div>
            </ion-col>
            <ion-col (click)="categoryPage()">
                <div class="img-box" text-center>
                    <img src="assets/imgs/fashion.png">
                    <small class="text-white">Fashion</small>
                </div>
            </ion-col>
            <ion-col (click)="categoryPage()">
                <div class="img-box" text-center>
                    <img src="assets/imgs/home.png">
                    <small class="text-white">Home</small>
                </div>
            </ion-col>
            <ion-col (click)="categoryPage()">
                <div class="img-box" text-center>
                    <img src="assets/imgs/mobaile.png">
                    <small class="text-white">Mobaile</small>
                </div>
            </ion-col>
            <ion-col (click)="categoryPage()">
                <div class="img-box" text-center>
                    <img src="assets/imgs/more.png">
                    <small class="text-white">More</small>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-header>


<ion-content class="bg-light">
    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" class="slide-image" />
            <div class="banner-text">
                <p [innerHTML]="slide.description"></p>
                <small [innerHTML]="slide.smalltext"></small>
                <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            </div>
        </ion-slide>
    </ion-slides>

    <p>Featured Products
        <small class="bg-thime btn-round text-white" float-right>View all</small>
    </p>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <div class="img-box" (click)="itemdetailPage()">
                        <img src="assets/imgs/suit_PNG8132.png">
                    </div>
                    <ion-icon name="md-heart" class="text-light icon"></ion-icon>
                </ion-card-header>
                <ion-card-content (click)="itemdetailPage()">
                    <h5>Unique For Men Black Formal Slim Fit Shirt</h5>
                    <div class="rateing">
                        <div class="card-btn">
                            <p class="" float-left>
                                <span class="text-white bg-green small-text">4.2 <ion-icon name="md-star"></ion-icon></span>
                                <span class="text-light bold"> (125)</span>
                            </p>
                            <div style="display: flex;" float-right>
                                <div class="price text-light mr-5">
                                    <img src="assets/imgs/rupee-light.png" class="rupee-icon">500
                                </div>
                                <div class="price text-sky">
                                    <img src="assets/imgs/rupee-sky.png" class="rupee-icon">300
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <div class="img-box" (click)="itemdetailPage()">
                        <img src="assets/imgs/shirt-2.jpg">
                    </div>
                    <ion-icon name="md-heart" class="text-light icon"></ion-icon>
                </ion-card-header>
                <ion-card-content (click)="itemdetailPage()">
                    <h5>Unique For Men Black Formal Slim Fit Shirt</h5>
                    <div class="rateing">
                        <div class="card-btn">
                            <p class="" float-left>
                                <span class="text-white bg-green small-text">4.2 <ion-icon name="md-star"></ion-icon></span>
                                <span class="text-light bold"> (125)</span>
                            </p>
                            <div style="display: flex;" float-right>
                                <div class="price text-light mr-5">
                                    <img src="assets/imgs/rupee-light.png" class="rupee-icon">500
                                </div>
                                <div class="price text-sky">
                                    <img src="assets/imgs/rupee-sky.png" class="rupee-icon">300
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <div class="img-box" (click)="itemdetailPage()">
                        <img src="assets/imgs/shirt-3.jpg">
                    </div>
                    <ion-icon name="md-heart" class="text-light icon"></ion-icon>
                </ion-card-header>
                <ion-card-content (click)="itemdetailPage()">
                    <h5>Unique For Men Black Formal Slim Fit Shirt</h5>
                    <div class="rateing">
                        <div class="card-btn">
                            <p class="" float-left>
                                <span class="text-white bg-green small-text">4.2 <ion-icon name="md-star"></ion-icon></span>
                                <span class="text-light bold"> (125)</span>
                            </p>
                            <div style="display: flex;" float-right>
                                <div class="price text-light mr-5">
                                    <img src="assets/imgs/rupee-light.png" class="rupee-icon">500
                                </div>
                                <div class="price text-sky">
                                    <img src="assets/imgs/rupee-sky.png" class="rupee-icon">300
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <div class="img-box" (click)="itemdetailPage()">
                        <img src="assets/imgs/shirt-4.jpg">
                    </div>
                    <ion-icon name="md-heart" class="text-light icon"></ion-icon>
                </ion-card-header>
                <ion-card-content (click)="itemdetailPage()">
                    <h5>Unique For Men Black Formal Slim Fit Shirt</h5>
                    <div class="rateing">
                        <div class="card-btn">
                            <p class="" float-left>
                                <span class="text-white bg-green small-text">4.2 <ion-icon name="md-star"></ion-icon></span>
                                <span class="text-light bold"> (125)</span>
                            </p>
                            <div style="display: flex;" float-right>
                                <div class="price text-light mr-5">
                                    <img src="assets/imgs/rupee-light.png" class="rupee-icon">500
                                </div>
                                <div class="price text-sky">
                                    <img src="assets/imgs/rupee-sky.png" class="rupee-icon">300
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
