<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon class="menu-icon"><img src="assets/imgs/ic_menu.png"></ion-icon>
    </button>
        <ion-title>Create Account</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="form" padding-left padding-right>
        <p text-center padding-bottom margin-bottom>Create your Account on Mobiall</p>
        <ion-list>
            <ion-item>
                <ion-label>Phone Number</ion-label>
                <ion-input type="text" text-right value="+91 903 335 6708"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Full Name</ion-label>
                <ion-input type="text" text-right value="Jhon Smith"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Email Address</ion-label>
                <ion-input type="text" text-right value="jhonsmith8994@gmail.com"></ion-input>
            </ion-item>
            <div class="d-flex">
                <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input type="text" text-right value="******"></ion-input>
                </ion-item>
                <ion-icon name="ios-eye-outline" class="text-light eye-icon"></ion-icon>
            </div>
        </ion-list>
        <button ion-button full class="bg-thime btn-round btn-text" (click)="homePage()">Continue</button>
        <p text-center>
            <small>
                By Registering ! agree to 
                <span class="text-sky">
                    Terms & conditon
                </span>
            </small>
        </p>
    </div>
</ion-content>
